#header {
    background-color: #42B197;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    font-family: 'Inter', sans-serif; 
}

#header h1 {
    font-size: 2em;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    position: relative;
}

#panier {
    position: absolute;
    top: 10px
    
}

#panier img {
    width: 70px;
    mix-blend-mode: color-dodge;
    cursor: pointer;
}

#nbreArt {
    background: #04F1AA;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: -8px;
    padding: 5px;
    width: 30px;
    font-size: 14px;
    color: black;
}

/*fin header */

/*nav bar */

.navbar {
    border-bottom: 1px solid #aeabab;
}

.navbar-colored {
    background-color: #e1f4f2;
}

.navigation {
    padding: 25px;
}

.panier-nav {
    position: relative;
}

#nbreArt-nav {
    background: #04F1AA;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: -5px;
    padding: 1px;
    width: 20px;
    font-size: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu:hover {
    background-color: black;
}

.menu a:hover {
    color: white
}

.menu a {
    color: black;
}

.active-menu {
    background: black;
    border: 2px solid #7D9F93;
    margin-right: 15px;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.active-menu a {
    color: white !important;
}

.deconnecter {
    background-color: #FDD4D4;
    color: black;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.deconnecter:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
}

#profil {
    border-radius: 50%;
    width: 60px;
    height: 55px;
}

.li-profil {
    position: relative;
}

.li-profil span {
    position: absolute;
    left: 70px;
    top: 40px;
    font-weight: bold;
}

/*fin navBar */

/* Accueil */

.titre-cat {
    background-color: #F6F0F0;
    border-bottom: 1px solid #EF8A8A;
    font-family: 'Inter', sans-serif;
    padding: 12px;
}

/*fin Accueil */


/*clothingList*/
.article {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 400px;
    width: 250px;
}

.article .image-article {
    padding: 25px;

}

.image-article img {
    width: 150px;
    height: 190px;

}

.details-articles {
    background: #D2F5D2;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.details-articles h3 {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-top: -55px;
}

.details-articles h4 {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Inter', sans-serif;

}

.ajouter-art {
    background-color: #2C2727;
    color: white;
    border: none;
    padding: 7px 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-family: 'Inter', sans-serif;
    margin-top: 15px;
}

.ajouter-art:hover {
    background-color: #666867;
    color: white;
    cursor: pointer;
}

.ajouter-art:active {
    transform: translateY(4px);
}

.ajouter-art {
    transition: transform 0.1s ease;
}

.ajouter-art:focus {
    outline: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/*fin clothingList */

/*footer*/
.footer {
    background-color: #514A4A;
    margin-top: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.footer p {
    color: white;
    font-family: 'Inter', sans-serif;
}

/*fin footer */

/*detailClothing*/


.contDetail img{
    width: 320px;
    height: 420px;
 } 
 
 /*fin detailClothing*/


/* mobile */
@media screen and (max-width: 768px) {
    #header h1 {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        position: relative;
    }

    #panier {
        position: absolute;
        top: 5px;
    }



    .titre-cat-mobile {
        background-color: #F6F0F0;
        border-bottom: 1px solid #EF8A8A;
        font-family: 'Inter', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        margin: 0 15px;
    }

    .menu {
        border: 1px solid #7D9F93;
        /* margin-right: 150px; */
        border-radius: 3px;
        font-family: 'Inter', sans-serif;
        height: 35px;
        margin-top: 12px;
        padding-left: 4px;
        width: 100%;
    }


    .active-menu {
        background: black;
        border: 2px solid #7D9F93;
        width: 100%;
        border-radius: 3px;
        font-family: 'Inter', sans-serif;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 12px;
        padding-left: 4px;
    }

    .navigation {
        padding: 12px;

    }

    #ul-menu {
        margin-top: 12px;
    }

    #ul-menu-profil {
        margin-top: 20px;
    }
    .footer p {
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 0.7em;
    }
    
    .image-article img {
        width: 90px;
        height: 95px;
    }

    .details-articles h3 {
        font-size: 1em;
        padding: 15px;
    }

    .article {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        min-height: 60px;

    }

    .details-articles {
        background: #D2F5D2;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .article {
        width: 290px;
    }
    .contDetail .image{
        display: flex;
        justify-content: center;
    }
    .contDetail img{
        width: 300px;
        height: 250px;
        
    }
    .detailsProd{
        padding: 45px;
    }

    .detailsProd h1, h2, h3, h4{
         font-family: 'Inter', sans-serif;
    }
    .detailsProd h1{
         font-family: 'Inter', sans-serif;
         font-size: 1.3em;
         color: #767474;
    }
    .detailsProd h2{
         font-size: 1.6em;
         color: #141313;
         letter-spacing: 1px;
    }

    .detailsProd h3{
        font-size: 1em;
        color: black;
        font-weight: bold;
    }

    .detailsProd div h4{
        font-size: 2em;
        color: black;
        font-weight: bold;
    }
    .pub{
        margin: 12px 0;
        padding: 0 5px;
        box-shadow: 1px 2px 3px  rgb(137, 137, 137);
        display: flex;
        align-items: center;
    }
    .pub h2{
        font-size: 1em;
    }
   
    .imageArticle .delete{
        font-size: 35px;
    }
    .imageArticle img{
        width: 90px;
        height: 110px;
        margin-left: 30px;
    }
    .Qte{
        padding: 0 8px;
        margin: 5px 0;
    }
    .Qte h2{
        font-size: 1em;
        font-weight: bold;
        padding: 0 1px;
    }
    .nbreQte{
        border: 1px solid rgb(116, 115, 115);
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
    .nbreQte div{
        font-weight: bold;
        font-size: 1.1em;

    }
    .blocArt{
        border-bottom: 1px solid rgb(89, 87, 87);
        padding: 10px 0;
    }
    .detailsPrixTotal{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .detailsPrix .Rab{
        font-size: 1.2em;
        color: rgb(111, 111, 111);
    }
    .detailsPrix{
        padding: 5px 5px;
    }
    .detailsPrixTotal h2{
        font-size: 1.2em;
        font-weight: bold;
    }

}


@media screen and (min-width: 768px) {
    .navigation {
        padding: 12px;
        position: relative;
    }

    .deconnecter {
        margin-left: 80px;
    }

    .menu {
        border: 2px solid #7D9F93;
        margin-right: 15px;
        border-radius: 3px;
        font-family: 'Inter', sans-serif;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
    /* #header {
        background-color: #42B197;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 999;
    } */
    


}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .menu {
        border: 2px solid #7D9F93;
        margin-right: 15px;
        border-radius: 3px;
        font-family: 'Inter', sans-serif;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .active-menu {
        background: black;
        border: 2px solid #7D9F93;
        margin-right: 15px;
        border-radius: 3px;
        font-family: 'Inter', sans-serif;
        height: 35px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .image-article img {
        width: 210px;
        height: 195px;
    }

    .details-articles h3 {
        font-size: 1.4em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .article {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        min-height: 400px;
        width: 300px;
    }
    .detailsProd{
     
        position: absolute;
        right: 0;
        top: 25px;
    }
    .contDetail{
        position: relative;
    }
    .contDetail img{
        width: 320px;
        height: 390px;
        
    }
 
    .detailsProd h1, h2, h3, h4{
         font-family: 'Inter', sans-serif;
    }
    .detailsProd h1{
         font-family: 'Inter', sans-serif;
         font-size: 1.3em;
         color: #767474;
    }
    .detailsProd h2{
         font-size: 1.6em;
         color: #141313;
         letter-spacing: 1px;
    }

    .detailsProd h3{
        font-size: 1em;
        color: black;
        font-weight: bold;
    }

    .detailsProd div h4{
        font-size: 2em;
        color: black;
        font-weight: bold;
    }

    .pub{
        margin: 12px 0;
        padding: 0 5px;
        box-shadow: 1px 2px 3px  rgb(137, 137, 137);
        display: flex;
        align-items: center;
    }
    .pub h2{
        font-size: 1.5em;
    }
    .arrow{
        font-size: 30px;
    }
    .imageArticle .delete{
        font-size: 50px;
    }
    .imageArticle img{
        width: 190px;
        height: 210px;
        margin-left: 30px;
    }
    .imageArticle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Qte{
        padding: 0 8px;
        margin: 5px 0;
    }
    .prixQte{
        margin: 0 25px;
    }
    .prixQte h2{
        font-size: 4em;
    }
    .blocArt .group{
        margin: 45px 0;
    }
    .nbreQte-prixQte{
        display: flex;
    }
    .Qte h2{
        font-size: 1.5em;
        font-weight: bold;
        padding: 0 1px;
    }
    .nbreQte{
        border: 1px solid rgb(116, 115, 115);
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 0 15px;
    }
    .nbreQte div{
        font-weight: bold;
        font-size: 1.5em;

    }
    .blocArt{
        border-bottom: 1px solid rgb(89, 87, 87);
        padding: 5px 0;
    }
    .detailsPrixTotal{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .detailsPrix .Rab{
        font-size: 1.4em;
        color: rgb(111, 111, 111);
        text-align: center;
    }
    .detailsPrix{
        padding: 15px 5px;
    }
    .detailsPrixTotal h2{
        font-size: 1.4em;
        font-weight: bold;
    }


}

@media screen and (min-width : 991px) {
    .detailsProd{
     
        position: absolute;
        right: 0;
        top: 25px;
    }
    .contDetail{
      
        position: relative;
        min-height: 100vh;
      

    }
    .contDetail img{
        width: 320px;
        height: 390px;
        
    }
 
    .detailsProd h1, h2, h3, h4{
         font-family: 'Inter', sans-serif;
    }
    .detailsProd h1{
         font-family: 'Inter', sans-serif;
         font-size: 1.3em;
         color: #767474;
    }
    .detailsProd h2{
         font-size: 1.6em;
         color: #141313;
         letter-spacing: 1px;
    }

    .detailsProd h3{
        font-size: 1em;
        color: black;
        font-weight: bold;
    }

    .detailsProd div h4{
        font-size: 2em;
        color: black;
        font-weight: bold;
    }

    .pub{
        margin: 12px 0;
        padding: 0 5px;
        box-shadow: 1px 2px 3px  rgb(137, 137, 137);
        display: flex;
        align-items: center;
    }
    .pub h2{
        font-size: 1.5em;
    }
    .arrow{
        font-size: 30px;
    }
    .imageArticle .delete{
        font-size: 50px;
    }
    .imageArticle img{
        width: 190px;
        height: 210px;
        margin-left: 30px;
    }
    .imageArticle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Qte{
        padding: 0 8px;
        margin: 5px 0;
    }
    .prixQte{
        margin: 0 25px;
    }
    .prixQte h2{
        font-size: 4em;
    }
    .blocArt .group{
        margin: 45px 0;
    }
    .nbreQte-prixQte{
        display: flex;
    }
    .Qte h2{
        font-size: 1.5em;
        font-weight: bold;
        padding: 0 1px;
    }
    .nbreQte{
        border: 1px solid rgb(116, 115, 115);
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 0 15px;
    }
    .nbreQte div{
        font-weight: bold;
        font-size: 1.5em;

    }
    .blocArt{
        border-bottom: 1px solid rgb(89, 87, 87);
        padding: 5px 0;
    }
    .detailsPrixTotal{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .detailsPrix .Rab{
        font-size: 1.4em;
        color: rgb(111, 111, 111);
        text-align: center;
    }
    .detailsPrix{
        padding: 15px 5px;
    }
    .detailsPrixTotal h2{
        font-size: 1.4em;
        font-weight: bold;
    }
}

/* @media screen and (min-width: 768px) and (max-width: 991px)*/